body {
    background-image: url(../images/cover.png);
    background-size: cover;
    background-repeat: repeat;
    margin-bottom: 0;
    background-size: 100%;
    max-height: 100vh;
}

.navbar-brand {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1e8572!important;
}
.btn {
    margin-left: 20px!important;
}
li :hover {
    color: #21a089!important;
    transition: 0.5s !important;
}
.info {
    padding: 5px;
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    color: #f3ebeb;
    line-height: 1.5;
    word-spacing: 3px;
    background-color:hsla(0, 0%, 0%, 0.6);
    border-radius: 10px;
    
}

h2 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    color: #f3ebeb;
    background-color:hsla(0, 0%, 0%, 0.575);
    border-radius: 10px;
}
span {
    color: #105044;
}
.main1 {
    max-width: 45%;
    margin-top: 3%;
    margin-left: 28%;
    text-align: center;
}

@media screen and (max-width: 890px) {
    .social{
        left: -30%;
    }
    h2 {
        font-size: 20px;
    }
 

}

  svg{
      margin-left: 50px;
  }

  svg :hover{
      fill: gray;
  }

  .social{
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 9%;
      position: relative;
  }

  a {
     text-decoration: none;
     color: #1f8a76;
  }

  .animate__animated.animate__swing {
    --animate-duration: 40s;
  }
  
