body {
    background-image: url(../images/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    min-height:100vh;
}
.navbar-brand {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1e8572!important;
}
.btn {
    margin-left: 20px!important;
}
li :hover {
    color: #105044!important;
    transition: 0.5s !important;
}
h2 {
    font-family: Staatliches, cursive;
    font-size: 80px;
    color: #f3ebeb;
}
span {
    color: #105044;
}
.main1 {
    max-width: 60%;
    margin-top: 15%;
    margin-left: 2%
}

@media screen and (min-width: 910px) and (max-width: 1040px) {
    h2{
        font-size: 70px;
    }
}

@media screen and (min-width: 620px) and (max-width: 909px) {
    h2{
        font-size: 50px;
    }
}

@media screen and (min-width: 100px) and (max-width: 619px) {
    h2{
        font-size: 30px;
    }
}
