body {
    background-image: url(../images/cover.png);
    background-size: cover;
    background-repeat: repeat;
    margin-bottom: 0;
    background-size: 100%;
    max-height: 100vh;
    background-attachment: fixed;
}

.navbar-brand {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1e8572!important;
}
.btn {
    margin-left: 20px!important;
}
li :hover {
    color: #21a089!important;
    transition: 0.6s !important;
}
.info {
    padding: 5px;
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    color: #f3ebeb;
    line-height: 1.5;
    word-spacing: 3px;
    background-color:hsla(0, 0%, 0%, 0.6);
    border-radius: 10px;
    
}

h2 {
    font-family: Staatliches, cursive;
    font-size: 80px;
    color: #f3ebeb;
    background-color:hsla(0, 0%, 0%, 0.144);
    border-radius: 10px;
}
span {
    color: #105044;
}
.main1 {
    max-width: 65%;
    margin-top: 5%;
    margin-left: 4%
}

@media screen and (max-width: 890px) {
    h2 {
        font-size: 30px;
    }

    .info {
        font-size: 15px;
    }
}

