body {
    background-image: url(../images/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}
.navbar-brand {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1e8572!important;
}
.btn {
    margin-left: 20px!important;
}
li :hover {
    color: #105044!important;
    transition: 0.5s !important;
}
.info {
    margin-top: 20px;
    font-family: Staatliches, cursive;
    font-size: 20px!important;
    color: #f3ebeb !important;
    line-height: 1.5;
    word-spacing: 3px
}

h1 {
    font-family: Staatliches, cursive;
    font-size: 80px!important;
    color: #f3ebeb;
}
span {
    color: #105044!important;
}
.main1 {
    max-width: 60%;
    margin-top: 5%;
    margin-left: 2%
}

label{
    font-family: Staatliches, cursive;
    font-size: 35px;
    color: #f3ebeb;  
}

.btn-primary{
background-color: #105044 ;
border: none;
width: 200px;
height: 40px;
}

.form-check-label{
    font-size: 18px;
}