body {
    background-image: url(../images/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    min-height:100vh
}
.navbar-brand {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1e8572!important;
}
.btn {
    margin-left: 20px;
}
li :hover {
    color: #21a089!important;
    transition: 0.5s !important;
}


h1 {
    font-family: 'Karla', sans-serif;
    font-size: 80px;
    color: #f3ebeb;
}

.main1 {
    max-width: 40%;
    margin-top: 5%;
    margin-left: 4%
}

label{
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    color: #f3ebeb;  
}

.btn-primary{
    background-color: #105044 ;
    border: none;
    width: 200px;
    height: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 25%;
    position: relative;
    }

.form-check-label{
    font-size: 18px;
}